.playlist-question {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.playlist-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    margin-bottom: 40px;
}

.playlist-dropdown:last-child {
    margin-bottom: 0;
}


.ui-widget {
    font-family: 'PlusJakartaSansLight';
}

.ui-selectmenu-menu {
    height: 200px;
    overflow: auto;
    position: absolute;
}

.default-dropdown {
    display: hidden;
}

#dropdown1-button {
    width: 30vw;
    margin-right: 40px;
}

#dropdown2-button {
    width: 30vw;
    margin-right: 40px;
}

#dropdown3-button {
    width: 30vw;
    margin-right: 40px;
}

#dropdown4-button {
    width: 30vw;
    margin-right: 40px;
}

#dropdown5-button {
    width: 30vw;
    margin-right: 40px;
}