.playlist-question {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.playlist-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    margin-bottom: 40px;
    width: 100%;
}

.playlist-dropdown:last-child {
    margin-bottom: 0;
}


.ui-widget {
    font-family: 'PlusJakartaSansLight';
}

.ui-selectmenu-menu {
    height: 200px;
    overflow: auto;
    position: absolute;
}

.default-dropdown {
    display: hidden;
}

.ui-selectmenu-button.ui-button {
    width: 50vw;
    max-width: 50vw;
    margin-right: 40px;
}

.button-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}